GameConfig(
    // The number of pixels to play with
    num_pixels: 32768,

    // Physics
    phy: PhysicsConfig(
        // Maximum velocity of the pixels
        max_velocity: 100.0,

        // Friction of the pixels
        friction: 0.05,

        // Acceleration of the pixels towards/away from a gravity field, if they
        // are affected by it
        acceleration: 0.5,

        // Area of effect of gravity fields
        gravity_field_aoe: 300,
    ),

    // Graphics
    gfx: GraphicsConfig(
        // Size of a single pixel (grain of sand)
        pixel_size: 0.75,

        // Minimal brightness level of the pixels
        min_brightness: 000,

        // Maximal brightness level of the pixels
        max_brightness: 255,
    ),

    // Debug
    dbg: DebugConfig(
        // Whether to automatically show debug info on pause
        on_pause: true,

        // Whether to show FPS in debug info
        fps: true,

        // Whether to draw gravity fields
        draw_fields: true,

        // Whether to draw the aoe of gravity fields
        draw_aoe: true,

        // Whether to show the current number of fields in the arena
        n_fields: true,
    ),
)
